In [3]:
import pandas as pd
import joblib

# Bütün dataseti yüklə
df = pd.read_csv(r'C:/Users/user/Documents/fraud_transactions7.csv')
df

,transaction_id,card_id,timestamp,amount,merchant,transaction_type,transaction_category,location,gender,account_balance,is_fraud
0,1,6504876475938248,2025-01-28 03:15:45,4222.26,Azəriqaz,online,utilities,Shirvan,Male,4108.85,1
1,2,2720489241157817,2025-03-10 16:47:13,3919.21,Spotify,mobile_app,subscriptions,Mingachevir,Female,5096.40,1
2,3,6593877840801600,2025-04-29 19:38:49,1409.91,Starbucks,atm,food,Xankendi,Female,3170.46,0
3,4,30535139332877,2025-01-18 17:05:49,3649.43,Aptek+,mobile_app,healthcare,Xankendi,Female,3602.53,1
4,5,2278714841858399,2025-04-17 06:16:37,1581.67,Turkish Airlines,mobile_app,travel,Nakhchivan,Male,716.57,0
...,...,...,...,...,...,...,...,...,...,...,...
39995,39996,373104092920676,2025-01-24 20:32:14,3668.18,Bolt,mobile_app,travel,Shirvan,Female,9217.95,1
39996,39997,4621775195380,2025-03-08 22:04:51,3167.19,Azercell,atm,utilities,Zaqatala,Male,9621.85,1
39997,39998,2264739382237923,2025-01-29 02:37:00,3586.00,KFC,atm,food,Shirvan,Female,8684.24,1
39998,39999,3544298758611534,2025-05-24 23:38:00,3360.81,Spotify,mobile_app,subscriptions,Sumqayit,Female,2942.60,0
39999,40000,30503743739358,2025-06-10 11:26:35,3740.20,Azercell,atm,utilities,Sheki,Male,6640.21,1

In [2]:
import pandas as pd
import joblib

# Modeli yüklə
model = joblib.load("rf_model8_encoded.pkl")

# Bütün dataseti yüklə
df = pd.read_csv(r'C:/Users/user/Documents/fraud_transactions7.csv')

# Timestamp sütununu datetime formatına çevir
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Yeni sütunlar əlavə et
df['hour'] = df['timestamp'].dt.hour
df['dayofweek'] = df['timestamp'].dt.dayofweek
df['month'] = df['timestamp'].dt.month_name()

# Modelin istədiyi sütunlar
features = ['amount', 'merchant', 'transaction_type', 'location', 'gender',
            'account_balance', 'hour', 'dayofweek', 'transaction_category']

X = df[features]

# Proqnoz ehtimalı
df['fraud_probability'] = model.predict_proba(X)[:, 1]

# Yeni fayla yaz (tam dataset)
df.to_csv(r"C:/Users/user/Documents/fraud_predictions_full10.csv", index=False)